################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CityInfo.API/bin/Debug/netcoreapp2.1
/CityInfo.API/Log
